* {
    font-family: 'Dancing Script', cursive;
    font-size: 125%;
}

:root {
    --dark: rgba(82, 74, 74, 0.363);
    --brutango: rgba(224, 14, 14, 0.767);
    --writz: rgb(125, 185, 219);

}

body {
    background-color: var(--dark);
}

div {
    background-color: var(--writz);
    margin: 25px;
    padding: 30px;
    border-style: dashed;
    border-width: 5px;
    border-color: black;
}

.header {
    font-size: 400%;
    text-align: center;
    border-radius: 30px;
}

.abtme, .muzak, .life {
    background-color: var(--brutango);
}
