* {
    font-family: 'Dancing Script', cursive;
    font-size: 125%;
}

:root {
    --dark: rgba(82, 74, 74, 0.363);
    --brutango: rgba(224, 14, 14, 0.767);
    --writz: rgb(125, 185, 219);
}

body {
    background-color: var(--dark);
}

div {
    background-color: var(--writz);
    margin: 10px;
    padding: 10px;
    border-style: dashed;
    border-width: 5px;
    border-color: black;
    border-radius: 30px;
}

.header {
    font-size: 400%;
    text-align: center;
    color: var(--brutango);
    text-shadow: 2px 2px black;
}

.abtme, .muzak, .life {
    background-color: var(--brutango);
}  

.tops {
    font-size: 150%;
    text-shadow: 2px 2px black;
    color: whitesmoke;
}

.hizzle {
    background-color: var(--writz);
}