* {
    margin: 25px;
    font-size: 1;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

header {
    font-size: 400%;
    text-align: center;
}

section {
    border-radius: 20px;
    padding: 50px;
    flex: 1 0 300px;
    padding: 10px;
    text-align: left;

}

section header {
    font-size: 200%;
    
}


.My {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gold;
    color: saddlebrown;
    text-align: left;
}

.Work {
    background-color: peachpuff;
    font-family: cursive;
    color: cadetblue;
}

.Is {
    background-color: rgba(0, 255, 255, 0.795);
    color: rgba(255, 0, 0, 0.596);
    font-family: fantasy;
}

.Here {
    background-color: greenyellow;
    color: rgba(106, 172, 167, 0.863);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}